
.body-block { 
	text-align: center;
}

.authentication-input-div {
	background-color: #E3E3E3;
	display: inline-block;
	margin-top: 3vw;
	padding-bottom: 1vw;
	padding-top: 1vw;
	width: 30vw;
}

.authentication-input-div p {
	margin-bottom: 12px;
	margin-top: 2px;
}

.authentication-input-div #register-text {
	font-family: "Poppins", sans-serif;
	margin-bottom: 5px;
	margin-top: 2px;
}

.authentication-input-div #login-text {
	font-family: "Poppins", sans-serif;
	margin-bottom: 5px;
	margin-top: 2px;
}

.authentication-input-div .p-login {
	margin-bottom: 0px;
	margin-top: 0px;
}

.errorlist, { 
	font-family: "Poppins", sans-serif;
}

.authentication-input-div input[type=text], input[type=password], input[type=number], select {
	box-sizing: border-box;
	padding: 12px 20px;
	width: 80%;
}

.authentication-input-div input[type=submit] {
	background-color: #FC5185;
	border-color: #ffb3c9;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: bolder;
	padding: 12px;
	width: 50%;
}

.authentication-input-div input[type=submit]:hover {
	background-color: #ffbdd1;
}
