.body-block { 
	text-align: center;
}

#authentication_input_div {
	background-color: #e3e3e3;
	display: inline-block;
	margin-top: 3vw;
	padding-bottom: 1vw;
	padding-top: 1vw;
	width: 30vw;
}

#authentication_input_div p {
	margin-bottom: 12px;
	margin-top: 2px;
}

#authentication_input_div #register_text {
	font-family: "Poppins", sans-serif;
	margin-bottom: 5px;
	margin-top: 2px;
}

#authentication_input_div #login_text {
	font-family: "Poppins", sans-serif;
	margin-bottom: 5px;
	margin-top: 2px;
}

#authentication_input_div .p_login {
	margin-bottom: 0px;
	margin-top: 0px;
}

.errorlist, { 
	font-family: "Poppins", sans-serif;
}

#authentication_input_div input[type=text], input[type=password], input[type=number], select {
	box-sizing: border-box;
	padding: 12px 20px;
	width: 80%;
}

#authentication_input_div input[type=submit] {
	background-color: #ec2727;
	border-color: #f26e6e;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: bolder;
	padding: 12px;
	width: 50%;
}

#authentication_input_div input[type=submit]:hover {
	background-color: #f48080;
}
