.top-bar-block {
	background-color: #6198E0;
	padding: 10px;
}

.top-bar-block a {
	color: #1D4591;
}

.top-bar-block a:hover {
	font-weight: bold;
}

.top-bar-block .current {
	height: 100%;
	background-color: #9DBFEC !important;
}

.top-bar-block .dropdown-menu {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.top-bar-block .dropdown-info .button-dropdown {
	color: #1D4591;
  border: none;
  outline: none;
  background-color: #6198E0;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.top-bar-block .dropdown-info:hover .button-dropdown {
	font-weight: bold;
}

.top-bar-block .university-content-container {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.top-bar-block .university-content-container a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.top-bar-block .dropdown-info:hover .university-content-container {
  display: block;
  border: 0.5px solid black;
}


.body-block {
    min-height: 100%;
    margin: 0 auto;
    height: 100%;
    width: 85vw;
}

.clear {
	clear: both;
	height: 70px;
}

.footer-bottom-page {
	background-color: #383942;
	bottom: 0;
	display: block;
	font-size: 1em;
	height: 60px;
	position: fixed;
	width: 100%;
}

.footer-bottom-page p, a {
	color: #7C7C83;
	margin-bottom: 0;
	position: relative;
}

.footer-bottom-page a {
	color: #6A6B71;
}

.footer-bottom-page .footer-container {
	display: grid;
	grid-template-columns: auto auto;
	height: 100%;
	padding-top: 5px;
}

.footer-bottom-page .footer-item {
	border: 1px solid;
}

.footer-bottom-page .left {
	text-align: left;
	padding-left: 20px;
}

.footer-bottom-page .right {
	text-align: right;
	padding-right: 20px;
}

