.body{
    margin: 0 auto;
    width: 80vw;
    height: 1000px;
    display: grid;
    grid-template-rows: 50px 1fr 200px;
}

.top_bar_login {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.top_bar_nonlogin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.logo{
    height: 50px;
}

.logo img{
    height : 100%;
    object-fit:fill;
    width: 100%;
}

.bar_link {
    align-content: center;
    background-color: skyblue;
    border-left: 2px solid;
    border-left-color: #77767680;
    display: grid;  
    justify-content: center;
}

/*.bar_link a {
    display: block;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}*/

.bottom_bar{
    border-top: 2px solid;
    border-top-color: #B6B5B54c;
    display:grid;
    grid-area: 3/1/4/2;
    grid-template-rows: 1fr 4fr;
}

.message{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.name{
    align-content: center;
    display: grid;
    font-size: 20px;
    justify-content: center;
    text-decoration: underline;
}

.details {
    display: grid;
    font-size: 19px;
    grid-template-columns: 1fr 1.5fr;

}

.detail_left{
    align-content: center;
    display: grid;
    justify-content: center;
}