.top-bar-block {
	background-color: #6198E0;
	padding: 10px;
}

.top-bar-block a {
	color: #1D4591;
}

.top-bar-block a:hover {
	font-weight: bold;
}

.top-bar-block .current {
	height: 100%;
	background-color: #9DBFEC;
}

.body-block {
    min-height: 100%;
    margin: 0 auto;
    height: 100%;
    width: 85vw;
}

.footer-bottom-page {
	background-color: #383942;
	bottom: 0;
	height: 100px;
	position: fixed;
	width: 100%;
}

.footer-bottom-page p, a {
	font-size: 20px;
	color: #7C7C83;
	margin-bottom: 0;
}

.footer-bottom-page a {
	color: #6A6B71;
}

.footer-bottom-page .footer-container {
	display: grid;
	grid-template-columns: auto auto;
	height: 100%;
	padding-top: 5px;
}

.footer-bottom-page .footer-item {
	border: 1px solid;
}

.footer-bottom-page .left {
	text-align: left;
	padding-left: 20px;
}

.footer-bottom-page .right {
	text-align: right;
	padding-right: 20px;
}

