/* 
    here is css for main body
*/
.mainbody{
    width: 80vw;
    height: auto;
    margin: 0 auto;
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.mainbody_left{
    height: 620px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 5fr 1fr 9.5fr;

}
.weather{
    height: 200px;
    border: 1px solid black;
    background-size: cover;
}

.content_name{
    line-height: 40px;
    text-align: center;
    border: 1px solid black;
}

.content{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: yellowgreen;
}
.content_show{
    height: 1000px;  
}

.mainbody_center{
    height: 620px;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 10fr 1fr 4.5fr;
}

.schoolimg{
    height: 400px;
    border: 1px solid black;
}

.searchbar{
    height: 40px;
    border: 1px solid black;
    text-align: end;
    line-height: 40px;
}

.info_of_uni{
    overflow-y: scroll;
    overflow-x: hidden;
}

.info_of_uni_show{
    height: 1000px;
}

.mainbody_right{
    border-top: 2px solid black;
    height: 620px;
    display: grid;
    grid-template-rows: 40px 1fr;
}

.helper_title{
    line-height: 40px;
    text-align: center  ;
}

.helper{
    border-top: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.helper_show{
    height: 1000px;
}