/*.boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 400px;
  justify-content: center;
  width: 100%;
}

.box {
  background-color: red;
  height: 300px;
  width: 400px;
}

.box img {
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	width: 100%;
}

@media screen and (max-width: 900px) {
  .row {
    flex-direction: column;
  }
}*/

.flex-grid {
  display: flex;
  margin-bottom: 40px;
}

.col {
  flex: 1;
  flex-shrink: 2;
}

.col img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.flex-grid-space {
  display: flex;
  justify-content: space-between;
}

.flex-thirds {
  width: 32%;
}

.flex-half {
  width: 50%;
}

@media (max-width: 1200px) {
  .flex-grid {
    flex-direction: column;
  }
  .flex-thirds, .flex-half {
    width: 100%;
  }
  .col img {

    margin-bottom: 20px;
  }

}