<!DOCTYPE html>
{% load staticfiles %}

<html>

    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            Freshmen World - 
            {% block title_block %}
                Still making progress!
            {% endblock %} 
        </title>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <div>
            {% block top_bar_block %}
                {% if user.is_authenticated %} 
                    <div class="top_bar_login">
                        <div class="logo"><img src="{% static 'images/logo.png' %}" alt="Logo"></div>
                        <div class="bar_link"><a href="{% url 'WOF:selector' %}">Course Selector</a></div>
                        <div class="bar_link"><a href="{% url 'WOF:task_manager' %}">Task Manager</a></div>
                        <div class="bar_link"><a href="{% url 'WOF:logout' %}">Logout</a></div>
                    </div>
                {% else %}
                    <div class="top_bar_nonlogin"> 
                        <div class="logo"><img src="{% static 'images/logo.png' %}" alt="Logo"></div>
                        <div class="bar_link"><a href="{% url 'WOF:selector' %}">Course Selector</a></div>
                        <div class="bar_link"><a href="{% url 'WOF:task_manager' %}">Task Manager</a></div>
                        <div class="bar_link"><a href="{% url 'WOF:user_login' %}">Login</a></div>
                        <div class="bar_link"><a href="{% url 'WOF:user_register' %}">Register</a></div>
                    </div>
                 {% endif %}
            {% endblock %}
            <div class="body_block">
                {% block body_block %}
                {% endblock %}
            </div>
            {% block bottom_bar_block %}
            <div class="bottom_bar">
                <hr id="bottom_bar_line">
                <div class="message">
                    <div class="name">Message</div>
                </div>
                <div class="details">
                    <div class="detail_left">
                        <ul>
                            <li>About us</li>
                            <li>Terms</li>
                            <li>Help Documents</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}  
    </body>
</html>