{% extends 'WOF/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index page!
{% endblock %}


{% block body_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <div class="mainbody">
        <div class="mainbody_left">
            <div class="weather">

            </div>
            <div class="content_name">
                University event
            </div>
            <div class="content">
                <div class="content_show">
                    <p>Some content goes here</p>
                </div>
            </div>
        </div>

        <div class="mainbody_center">
            <div class="schoolimg">

            </div>
            <div class="searchbar">
                <input type="text" placeholder="Type here...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>
            <div class="info_of_uni">
                <div class="info_of_uni_show">
                    <p>Words about university will go here!</p>
                </div>
            </div>
        </div>
    
        <div class="mainbody_right">
            <div class="helper_title">
                Who can help you in University
            </div>
            <div class="helper">
                <div class="helper_show">
                    <p>Words will go here</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}