{% extends 'WOF/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index page!
{% endblock %}


{% block body_block %}
    <link rel="stylesheet" href="{% static 'css/selecting.css' %}">
    <script type="text/javascript" src="{% static 'js/selecting.js' %}"></script>
    <div id="wrapper">
        <div id="side_bar">
            <div class="nameOfCoursesTitle">Name of Courses</div>
            <div id="nameOfCourses" class="nameOfCourses">

            </div>
            <div id="view_headerline">
                <div id="img"><img src="{% static 'images/view_headline.png' %}" alt="view_headerline" onclick="close_extend()">
                </div>
                <div id="icon"></div>
            </div>
            <div id="selecting_part">
                <div id="course_information">
                    <div>Course Number</div>
                    <div>Name</div>
                    <div>Units</div>
                    <div>Semester</div>
                    <div>Grade</div>
                </div>
                <div id="date">
                    <div>Selection</div>
                    <div>From</div>
                    <div>To</div>
                    <div>Day</div>
                    <div>Room</div>
                    <div>Instructor</div>
                    <div>Status</div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}