{% extends 'WOF/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Task Manager
{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/taskmanager.css">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/reset.css">
    <title>Task Manager</title>
</head>

{% block body_block %}
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/taskmanager.css' %}">
    <div class="first_part">
        <div class="course">Courses</div>
        <div class="month">Date</div>
    </div>

    <div class="title">
        <div id="last_month">Last Month</div>
        <div id="year"></div>
        <div id="month"></div>
        <div id="next_month">Next Month</div>
    </div>

    <div class="week">
        <div id="Monday">Monday</div>
        <div id="Tuesday">Tuesday</div>
        <div id="Wednesday">Wednesday</div>
        <div id="Thursday">Thursday</div>
        <div id="Friday">Friday</div>
        <div id="Saturday">Saturday</div>
        <div id="Sunday">Sunday</div>
    </div>

    <div class="third_part">
        <div class="perline">
            <div id="1st" class="date" onclick="showWindow(this)">
                <div class="day" id="1"></div>
                <div class="message">
                </div>
            </div>
            <div id="2nd" class="date" onclick="showWindow(this)">
                <div class="day" id="2"></div>
                <div class="message">OOSE<br>ADS2<br>AF2<br>CS1S</div>
            </div>
            <div id="3rd" class="date" onclick="showWindow(this)">
                <div class="day" id="3"></div>
                <div class="message">NOSE</div>
            </div>
            <div id="4th" class="date" onclick="showWindow(this)">
                <div class="day" id="4"></div>
                <div class="message"></div>
            </div>
            <div id="5th" class="date" onclick="showWindow(this)">
                <div class="day" id="5"></div>
                <div class="message"></div>
            </div>
            <div id="6th" class="date" onclick="showWindow(this)">
                <div class="day" id="6"></div>
                <div class="message"></div>
            </div>
            <div id="7th" class="date" onclick="showWindow(this)">
                <div class="day" id="7"></div>
                <div class="message"></div>
            </div>
        </div>
        <div class="perline">
            <div id="8th" class="date" onclick="showWindow(this)">
                <div class="day" id="8"></div>
                <div class="message"></div>
            </div>
            <div id="9th" class="date" onclick="showWindow(this)">
                <div class="day" id="9"></div>
                <div class="message"></div>
            </div>
            <div id="10th" class="date" onclick="showWindow(this)">
                <div class="day" id="10"></div>
                <div class="message"></div>
            </div>
            <div id="11st" class="date" onclick="showWindow(this)">
                <div class="day" id="11"></div>
                <div class="message"></div>
            </div>
            <div id="12nd" class="date" onclick="showWindow(this)">
                <div class="day" id="12"></div>
                <div class="message"></div>
            </div>
            <div id="13rd" class="date" onclick="showWindow(this)">
                <div class="day" id="13"></div>
                <div class="message"></div>
            </div>
            <div id="14th" class="date" onclick="showWindow(this)">
                <div class="day" id="14"></div>
                <div class="message"></div>
            </div>
        </div>
        <div class="perline">
            <div id="15th" class="date" onclick="showWindow(this)">
                <div class="day" id="15"></div>
                <div class="message"></div>
            </div>
            <div id="16th" class="date" onclick="showWindow(this)">
                <div class="day" id="16"></div>
                <div class="message"></div>
            </div>
            <div id="17th" class="date" onclick="showWindow(this)">
                <div class="day" id="17"></div>
                <div class="message"></div>
            </div>
            <div id="18th" class="date" onclick="showWindow(this)">
                <div class="day" id="18"></div>
                <div class="message"></div>
            </div>
            <div id="19th" class="date" onclick="showWindow(this)">
                <div class="day" id="19"></div>
                <div class="message"></div>
            </div>
            <div id="20th" class="date" onclick="showWindow(this)">
                <div class="day" id="20"></div>
                <div class="message"></div>
            </div>
            <div id="21st" class="date" onclick="showWindow(this)">
                <div class="day" id="21"></div>
                <div class="message"></div>
            </div>
        </div>
        <div class="perline">
            <div id="22nd" class="date" onclick="showWindow(this)">
                <div class="day" id="22"></div>
                <div class="message"></div>
            </div>
            <div id="23rd" class="date" onclick="showWindow(this)">
                <div class="day" id="23"></div>
                <div class="message"></div>
            </div>
            <div id="24th" class="date" onclick="showWindow(this)">
                <div class="day" id="24"></div>
                <div class="message"></div>
            </div>
            <div id="25th" class="date" onclick="showWindow(this)">
                <div class="day" id="25"></div>
                <div class="message"></div>
            </div>
            <div id="26th" class="date" onclick="showWindow(this)">
                <div class="day" id="26"></div>
                <div class="message"></div>
            </div>
            <div id="27th" class="date" onclick="showWindow(this)">
                <div class="day" id="27"></div>
                <div class="message"></div>
            </div>
            <div id="28th" class="date" onclick="showWindow(this)">
                <div class="day" id="28"></div>
                <div class="message"></div>
            </div>
        </div>
        <div class="perline">
            <div id="29th" class="date" onclick="showWindow(this)">
                <div class="day" id="29"></div>
                <div class="message"></div>
            </div>
            <div id="30th" class="date" onclick="showWindow(this)">
                <div class="day" id="30"></div>
                <div class="message"></div>
            </div>
            <div id="31st" class="date" onclick="showWindow(this)">
                <div class="day" id="31"></div>
                <div class="message"></div>
            </div>
            <div id="32nd" class="date" onclick="showWindow(this)">
                <div class="day" id="32"></div>
                <div class="message"></div>
            </div>
            <div id="33rd" class="date" onclick="showWindow(this)">
                <div class="day" id="33"></div>
                <div class="message"></div>
            </div>
            <div id="34th" class="date" onclick="showWindow(this)">
                <div class="day" id="34"></div>
                <div class="message"></div>
            </div>
            <div id="35th" class="date" onclick="showWindow(this)">
                <div class="day" id="35"></div>
                <div class="message"></div>
            </div>
        </div>
        <div class="perline">
            <div id="36th" class="date" onclick="showWindow(this)">
                <div class="day" id="36"></div>
                <div class="message"></div>
            </div>
            <div id="37th" class="date" onclick="showWindow(this)">
                <div class="day" id="37"></div>
                <div class="message"></div>
            </div>
            <div id="38th" class="date" onclick="showWindow(this)">
                <div class="day" id="38"></div>
                <div class="message"></div>
            </div>
            <div id="39th" class="date" onclick="showWindow(this)">
                <div class="day" id="39"></div>
                <div class="message"></div>
            </div>
            <div id="40th" class="date" onclick="showWindow(this)">
                <div class="day" id="40"></div>
                <div class="message"></div>
            </div>
            <div id="41st" class="date" onclick="showWindow(this)">
                <div class="day" id="41"></div>
                <div class="message"></div>
            </div>
            <div id="42nd" class="date" onclick="showWindow(this)">
                <div class="day" id="42"></div>
                <div class="message"></div>
            </div>
        </div>
    </div>

    <div id="addTask" class="addTask">
        <div class="closeDiv">
            <button onclick="closeWindow()">X</button>
        </div>
        <div class="container">
            <form action="taskmanager.html" method="get">
                <label for="task">Task Name</label>
                <input type="text" id="task" name="task" placeholder="Your task is..">

                <label for="courseName">Course Name</label>
                <input type="text" id="courseName" name="courseName" placeholder="Your course name..">

                <label for="monthTime">Month</label>
                <select id="monthTime" name="monthTime" onchange="addDayOption()">
                </select>

                <label for="dayTime">Day</label>
                <select id="dayTime" name="dayTime">
                </select>

                <input type="submit" value="Submit">

            </form>

        </div>
    </div>


    <script type="text/javascript">
        let date = new Date();
        let currentMonth = date.getMonth();
        update();
        function update() {
            let year = date.getFullYear();
            let month = date.getMonth();
            let day = date.getDate();
            let firstDay = new Date(year, month, 0).getDay();
            let monthLength = new Date(year, month + 1, 0).getDate();
            console.log(monthLength);


            let array = ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            document.getElementById("year").innerHTML = year;
            document.getElementById("month").innerHTML = array[month];

            let j = firstDay;
            let z = 1;
            for (let i = 1; i <= 42; i++) {
                document.getElementById(i).innerHTML = "";
            }
            for (let i = 1; i <= monthLength; i++) {
                document.getElementById(j + i).innerHTML = z;
                if (document.getElementById(j + i).innerHTML == day && document.getElementById("month").innerHTML == array[currentMonth]) {
                    document.getElementById(j + i).style.color = "red";
                } else {
                    document.getElementById(j + i).style.color = "black";
                }
                z++;
            }

        }

        document.getElementById("last_month").onclick = function () {
            date.setMonth(date.getMonth() - 1);
            update();
        };
        document.getElementById("next_month").onclick = function () {
            date.setMonth(date.getMonth() + 1);
            update();
        };
    </script>


    <script type="text/javascript">
        let array = ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        date = new Date();
        addMonthOptions();
        function addMonthOptions() {
            var option_month = document.getElementById("monthTime");
            for (var i = 0; i < 12; i++) {
                option_month.add(new Option(array[i], "value"))

                var option_day = document.getElementById("monthTime");
            };
        };
        function addDayOption() {
            var index = document.getElementById("monthTime").selectedIndex;
            console.log(index);
            var monthLength = new Date(date.getFullYear(), index + 1, 0).getDate();
            var option_day = document.getElementById("dayTime");
            option_day.options.length = 0;
            for (var i = 1; i < monthLength + 1; i++) {
                option_day.add(new Option(i, "value"));
            };
        };

        var showIndex;
        function showWindow(obj) {
            document.getElementById("addTask").style.display = 'block';
            showIndex = obj.id;
        };

        function closeWindow() {
            document.getElementById("addTask").style.display = "none";
        };
    </script>
{% endblock %}