{% extends 'WOF/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Task Manager
{% endblock %}

{% block body_block %}
    <link rel="stylesheet" href="{% static 'css/taskmanager.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <div class="main_body">

        <div class="first_part">
            <div class="course">Courses</div>
            <div class="month">Date</div>
        </div>

        <div class="title">
            <div id="last_month">Last Month</div>
            <div id="year"></div>
            <div id="month"></div>
            <div id="next_month">Next Month</div>
        </div>

        <div class="week">
            <div id="Sunday">Sunday</div>
            <div id="Monday">Monday</div>
            <div id="Tuesday">Tuesday</div>
            <div id="Wednesday">Wednesday</div>
            <div id="Thursday">Thursday</div>
            <div id="Friday">Friday</div>
            <div id="Saturday">Saturday</div>
        </div>

        <div class="third_part">
            <div class="perline">
                <div class="date">
                    <div class="day" id="1"></div>
                    <div class="message">fad</div>
                </div>
                <div class="date">
                    <div class="day" id="2"></div>
                    <div class="message">hafgf</div>
                </div>
                <div class="date">
                    <div class="day" id="3"></div>
                    <div class="message">rqew</div>
                </div>
                <div class="date">
                    <div class="day" id="4"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="5"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="6"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="7"></div>
                    <div class="message"></div>
                </div>
            </div>
            <div class="perline">
                <div class="date">
                    <div class="day" id="8"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="9"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="10"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="11"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="12"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="13"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="14"></div>
                    <div class="message"></div>
                </div>
            </div>
            <div class="perline">
                <div class="date">
                    <div class="day" id="15"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="16"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="17"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="18"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="19"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="20"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="21"></div>
                    <div class="message"></div>
                </div>
            </div>
            <div class="perline">
                <div class="date">
                    <div class="day" id="22"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="23"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="24"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="25"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="26"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="27"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="28"></div>
                    <div class="message"></div>
                </div>
            </div>
            <div class="perline">
                <div class="date">
                    <div class="day" id="29"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="30"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="31"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="32"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="33"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="34"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="35"></div>
                    <div class="message"></div>
                </div>
            </div>
            <div class="perline">
                <div class="date">
                    <div class="day" id="36"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="37"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="38"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="39"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="40"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="41"></div>
                    <div class="message"></div>
                </div>
                <div class="date">
                    <div class="day" id="42"></div>
                    <div class="message"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let date = new Date();
        console.log(date.getMonth())
        update();
        function update() {
            let year = date.getFullYear();
            let month = date.getMonth();
            let day = date.getDate();
            let firstDay = new Date(year, month, 1).getDay();
            let monthLength = new Date(year, month, 0).getDate();


            let array = ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            document.getElementById("year").innerHTML = year;
            document.getElementById("month").innerHTML = array[month];
            
            let j = firstDay;
            let z = 1;
            for(let i = 1; i <= monthLength ;i++){
                document.getElementById(j+i).innerHTML = z;
                if(document.getElementById(j).innerHTML == day){
                    document.getElementById(j).style.color = "red";
                }else{
                    document.getElementById(j).style.color = "black";
                }
                z++;
            }

        }

        document.getElementById("last_month").onclick = function(){
            date.setMonth(date.getMonth()-1);
            update();
        };
        document.getElementById("next_month").onclick = function(){
            date.setMonth(date.getMonth()+1);
            update();
        };
    </script>
{% endblock %}
