{% extends 'WOF/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Task Manager
{% endblock %}

{% block body_block %}
    {% csrf_token %}
    <script type="text/javascript" src="{% static 'js/taskmanager.js' %}"></script>
    <div class="task-manager-body" id="body_block">
        <link rel="stylesheet" href="{% static 'css/all.css' %}">
        <link rel="stylesheet" href="{% static 'css/taskmanager.css' %}">
        <div class="first_part">
            <div class="course">Courses</div>
            <div class="month">Date</div>
        </div>

        <div class="title">
            <div id="last_month" onclick="update_last_month()">Last Month</div>
            <div id="year"></div>
            <div id="month"></div>
            <div id="next_month" onclick="update_next_month()">Next Month</div>
        </div>

        <div class="week">
            <div id="Monday">Monday</div>
            <div id="Tuesday">Tuesday</div>
            <div id="Wednesday">Wednesday</div>
            <div id="Thursday">Thursday</div>
            <div id="Friday">Friday</div>
            <div id="Saturday">Saturday</div>
            <div id="Sunday">Sunday</div>
        </div>

        <div class="third_part" id="thirdpart">
        </div>

        <div id="addTask" class="addTask">
            <div class="closeDiv">
                <button onclick="closeWindow()">X</button>
            </div>
            <div class="container">
                <form action="{% url 'WOF:add_task' %}" method="POST">
                    <label for="task">Task Name</label>
                    <input type="text" id="task" name="task" placeholder="Your task is...">
                    
                    <label for="yearTime">Year</label>
                    <select id="yearTime" name="yearTime">
                    </select>

                    <label for="monthTime">Month</label>
                    <select id="monthTime" name="monthTime" onchange="addDayOption()">
                    </select>

                    <label for="dayTime">Day</label>
                    <select id="dayTime" name="dayTime">
                    </select>

                    <input type="submit" value="Submit">

                </form>

            </div>
        </div>
    </div>
{% endblock %}
