{% extends 'WOF/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register page
{% endblock %}

{% block body_block %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/authentication.css' %}"/>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	{% if registered %}
		<p>Thank you for joining us<br />
		<a href="{% url 'WOF:index' %}">Return to the homepage</a></p><br />
		
	{% else %}
		<form id="student_user_form" method="post" action="{% url 'WOF:user_register' %}" enctype="multipart/form-data">
			<div class="authentication-input-div">
				<p class="authentication-text">Register at Freshmen World!</p>
				{% csrf_token %}
				{{ student_user_form.as_p }}
				{{ student_user_profile_form.as_p }}
				<input type="submit" name="submit" value="Register" />
			</div>
		</form>
	{% endif %}
{% endblock%}

